<div class='container navbar_basic'>
  <div class="row navbar_row">

    <div class="col-xs-3 navbar_column">
      LOGO
    </div>

    <div class="col-xs-3 navbar_column">
      Maths for CS
    </div>

    <div class="col-xs-3 navbar_column">
      About
    </div>

    <div class="col-xs-3 navbar_column">
      Account
    </div>
  </div>
</div>
