<div class='container navbar'>
  <div class="row">

    <div class="col-xs-3">
      LOGO
    </div>

    <div class="col-xs-3">
      Maths for CS
    </div>

    <div class="col-xs-3">
      About
    </div>

    <div class="col-xs-3">
      Account
    </div>
  </div>
</div>
