<div class="container">

  <h3> <%= @lesson.title_en.html_safe %> </h3>
  <p> <%= @lesson.content_en.html_safe %> </p>

  <% @lesson.examples.each do |example| %>
    <%= render partial: 'example', locals: { example: example } %>
  <% end %>

  <p>
    <%= link_to(
      "I am ready to get challenged on this lesson",
      new_course_chapter_lesson_exercise_attempt_path(
        course_id: @lesson.chapter.course_id,
        chapter_id: @lesson.chapter_id,
        lesson_id: @lesson.id,
        exercise_id: @lesson.exercises.first.id
      )
    ) %>
  </p>
</div>
