<div class="container">

  <h3> <%= @lesson.title_en.html_safe %> </h3>
  <p> <%= @lesson.display_content(I18n.locale).html_safe %> </p>

  <% @lesson.examples.each do |example| %>
    <div style="border: 1px solid black">
      <%= example.display_content(I18n.locale).html_safe %>
    </div>
  <% end %>

  <p>
    <%= link_to(
      "I am ready to get challenged on this lesson",
      new_course_chapter_lesson_exercise_attempt_path(
        course_id: @lesson.chapter.course_id,
        chapter_id: @lesson.chapter_id,
        lesson_id: @lesson.id,
        exercise_id: @lesson.exercises.first.id
      )
    ) %>
  </p>
</div>
