<div class="container one_man_army">
  <p><%= t('thank_you_for_your_support.title') %></p>
  <p><%= t('thank_you_for_your_support.small_team') %></p>
  <p><%= t('thank_you_for_your_support.work_hard') %></p>
  <p><%= t('thank_you_for_your_support.all_i_have') %></p>
</div>

<br><br><br><br><br><br>
