@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar";
@import "footer";
@import "homepage";
@import "config/variables";
@import "courses";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900");

html {
	height: 100%;
}

body {
  background-color: $base-background-color;
  font-family: $base-font;
}

.logo {
  max-width: 50px
}
.company_name {
  color: $base-black;
  font-weight: 700;
  font-size: 20px;
}

.page_wrapper {
	position:relative;
	height:auto !important;
	min-height:100%;
}
.login_wrapper {
	text-align: center;
}
