.navbar_basic {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 50px;

  border-bottom: 1px solid #7a7a7a;
  box-shadow: 0 0 5px 0 gray;
  background-color: #f9faff;
}

.navbar_column {
  text-align: center;
  font-size: 1.2em;
  a{
    color: #120087;
  }
  a:hover {
    color: #8a7fff;
    text-decoration: none;
  }
}
